# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml

# MiKTeX / TeX Live temp files
*.fmt
*.fot
*.cb
*.cb2

# OS files
.DS_Store
Thumbs.db
